.content {
    /* This is the parent of the activity 1 boxes. */
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
.left {
    background-image: url('w06_cherries.png');
    float: left;
    width: 50%;
    height: 685px;
  }

  .right { 
    background-color: gray;
    float: right;
    width: 50%;
    height: 685px;
}

h1 {
    margin-bottom: -20%;
    text-align: center;
    font-size: 150px;
}

h2 {
    text-align: right;
    margin-right: 35%;
    margin-top: 80%;
    font-size: 75px;
    color: darkred;
}